{% extends "quizzes/header.html" %}
{% load static %}

{% block styles %}
        <link rel="stylesheet" href="{% static 'quizzes/css/create_choice.css' %}">
{% endblock %}

{% block title %}Create Choice | StudyBee{% endblock %}
    
{% block content %}
    <main>
        <div class="tools">
            <div></div>
            <div><h1>Create Question</h1></div>
            <div class="cancel">
                <a href="{% url 'modify_question' question.id %}"><p>Cancel</p></a>
            </div>
        </div>
        
        <div class="content">
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                
                {% for field in form %}
                    <label for="{{field.name}}">{{field.label}}</label>
                    {{field}}
                {% endfor %}
                <input class="submit" type="submit" value="Create Choice">
            </form>

            <div class="messages" {% if not messages %}hidden{% endif %}>
                {% if messages %}
                    {% for message in messages %}
                        <p class="message">{{message}}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}