{% extends "quizzes/header.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'quizzes/css/delete_quiz.css' %}">
{% endblock %}

{% block title %}Delete Question | StudyBee{% endblock %}

{% block content %}
    <main>
        <div class="tools">
            <div></div>
            <div><h1>Delete Question</h1></div>
            <div class="cancel">
                <a href="{% url 'modify_quiz' quiz.id %}"><p>Cancel</p></a>
            </div>
        </div>
        
        <div class="content">
            <hr>
            <h2>Are you sure you want to delete: {{question.question}}</h2>
            <form action="" method="post">
                {% csrf_token %}
                <input class="submit" type="submit" value="Delete Question">
            </form>
        </div>
    </main>
{% endblock %}