body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px lightgray solid;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0;
    margin-bottom: 0;
}

.left p, .right p {
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    color: #3b4c9b;
    padding-bottom: 1vh;
    font-weight: bold;
}

.right p {
    padding: 15px 1vw;
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.active {
    border-bottom: 3px #3b4c9b solid;
}

.logout {
    background-color: #ffcd1f;
    border-radius: 14px;
    font-weight: bold;
}

.logout a {
    text-decoration: none;
}

.nav-link:hover {
    border-bottom: 3px #3b4c9b solid;
    text-decoration: none;
}

main {
    background-color: #3b4c9b;
    width: 80vw;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
}

.content {
    padding-top: 15vh;
    color: white;
}


.submit {
    background-color: #3ccfcf;
    color: white;
    width: 15vw;
    border: 5px #3ccfcf solid;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-left: 5px;
    cursor: pointer;
    margin-top: 1vh;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.submits {
    text-decoration: none;
    color:white;
}

.submit:hover, .submit:focus {
    background-color: #28a7a7;
    border: 5px #28a7a7 solid;
}

.form {
    padding-top: 16vh;
    color: black;
    display: flex;
    justify-content: center;
}

.input {
    display: block;
    border: 3px black solid;
    width: 15vw;
    height: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    outline: none;
    border-radius: 3px;
}

.input:active, input:focus {
    border: 3px #ffcd1f solid;
}

.form label {
    color: lightgray;
}

.link {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 1vh;
}

.repeat {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color:white;
    font-size: 1rem;
    text-decoration: underline;
}

.repeat:hover {
    border: none;
}

.messages {
    color: rgb(216, 69, 69);
}

.login:hover {
    background-color: lightgrey;
    border-radius: 10px;
}

.register {
    background-color: #ffcd1f;
    border-radius: 10px;
}

.register:hover {
    background-color: #fddb5e;
}