{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">

        <title>Register</title>
    </head>

    <body>
        <div class="flex">
            <div class="left">
                <img class="study" src="{% static 'accounts/images/study.jpg' %}">
                <p class="logo">Quizzicle</p>
                <p>Insert some catch phrase here</p>
            </div>
            <div class="right">
                <nav>
                    <p class="active"><a href="{% url 'register' %}">Sign up</a></p>
                    <p><a href="{% url 'login' %}">Log in</a></p>
                </nav>
                <div class="form">
                    <form action="" method="post">
                        {% csrf_token %}
                        
                        {% for field in form %}
                            <label for="{{field.name}}">{{field.label}}</label>
                            {{field}}

                            {% if email and field.name == 'email' %}
                                <ul>
                                    {% for error in email %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                            {% elif username and field.name == 'username' %}
                                <ul>
                                    {% for error in username %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                            {% elif password2 and field.name == 'password2' %}
                                <ul>
                                    {% for error in password2 %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                            {% elif password1 and field.name == 'password1' %}
                                <ul>
                                    {% for error in password1 %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                        <input class="submit" type="submit" value="Sign Up">
                    </form>

                    
                </div>
                <hr>
                <div class="link">
                    <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
                </div>
            </div>
        </div>
    </body>
</html>