{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'accounts/css/request_reset.css' %}">

        <title>Reset Password | StudyBee</title>
    </head>
    <body>
        <nav>
            <div class="left">
                <a href=""><p class="logo">StudyBee</p></a>
                <a href=""><p class="nav-link">Home</p></a>
                <a href=""><p class="nav-link">Subjects</p></a>
                <a href=""><p class="nav-link">Create</p></a>
            </div>

            <div class="right">
                <p>Search</p>
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}"><p class="logout">Log out</p></a>
                {% else %}
                <a href="{% url 'login' %}"><p class="login">Log in</p></a>
                <a href="{% url 'register' %}"><p class="register">Sign up</p></a>
                {% endif %}
            </div>
        </nav>
        <main>
            <div class="content">
                <h1>Reset Password</h1>

                <form method="post" action="">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="item">
                            <label for="{{ field.name }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}

                    <input class="submit" type="submit">
                </form>

                <div class="messages" {% if not messages %}hidden{% endif %}>
                    {% if messages %}
                        {% for message in messages %}
                            <p class="message">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                </div>

                <hr>
            </div>
        </main>
    </body>
</html>