{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'accounts/css/verify.css' %}">

        <title>Verify Email | Quizzicle</title>
    </head>
    <body>
        <nav>
            <div class="left">
                <a href=""><p class="logo">Quizzicle</p></a>
                <a href=""><p class="nav-link active">Home</p></a>
                <a href=""><p class="nav-link">Subjects</p></a>
                <a href=""><p class="nav-link">Create</p></a>
            </div>

            <div class="right">
                <p>Search</p>
                <a href="{% url 'logout' %}"><p class="logout">Log out</p></a>
            </div>
        </nav>
        <main>
            <div class="content">
                <h1>Verify Email</h1>
                <p>The code is valid for the next 30 minutes</p>

                <form method="post" action="">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="item">
                            {{ field }}
                        </div>
                        
                        {% if code and field.name == 'code' %}
                            <ul>
                                {% for error in code %}
                                    <li>{{error}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}

                    <input class="submit" type="submit">
                </form>

                <div class="messages" {% if not messages %}hidden{% endif %}>
                    {% if messages %}
                        {% for message in messages %}
                            <p class="message">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                </div>

                <hr>
                <form class="link" method="post" action="{% url 'resend_verify' %}">
                    <p class="info">Didn't recieve it? </p>
                    {% csrf_token %}
                    <input class="repeat" type="submit" value="Send again">
                </form>

            </div>
        </main>
    </body>
</html>